@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


:root {
  --my-grid-cols: 60px 70px 1fr 1fr 1fr 1fr;
  --description-grid: 1fr 3fr;
}
body {
  background: #F7F7F7;
}

.merriweather{
  font-family: "Merriweather", sans-serif;
}
